h4 {
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.w {
	width: 28%;
	display: inline-block;
	margin: 2%;
	border-left: 1px dashed #555555;
}

.w li {
	list-style: none;
	font-size: 33px;
	line-height: 2;
	font-weight: 600;
	letter-spacing: 5px;
	padding-left: 18px;
	border-bottom: 1px dashed #e3e3e3;
}
